# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs

# DotNet CLI
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET
wwwroot/

# Rider
.idea/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Others
*.db
.env
*.sqlite

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
.nuget/
